@model IEnumerable<hotelManagementSystem20.models.Reservation>

@{
    ViewBag.Title = "Liste des reservations";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Liste des reservations</h2>

<p>
    @Html.ActionLink("Créer une nouvelle réservation", "Create")
</p>


<table class="table">
    <tr>
        <th>ID</th>
        <th>Client ID</th>



        <th>Reservation Date</th>
        <th>Nombre de rooms</th>
        <th>Date Depart</th>
        <th>Date Fin</th>
        <th>PrixTotal</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Reservation_Id</td>
            <td>@item.client_id</td>

            <td>@item.DateReservation</td>
            <td>@item.nombreChambres</td>
            <td>@item.dateDepart</td>
            <td>@item.dateArrivee</td>
            <td>@item.prixTotale</td>

            <td>
                @Html.ActionLink("Détails", "Details", new { id = item.Reservation_Id }) |
                @Html.ActionLink("Modifier", "Edit", new { id = item.Reservation_Id }) |
                @Html.ActionLink("Supprimer", "Delete", new { id = item.Reservation_Id })
            </td>
        </tr>
    }
</table>





