@model hotelManagementSystem20.models.client

@{
    ViewBag.Title = "Créer un nouveau client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new client - Hotel Management System</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <style>
        /* Add style to the input button */
        .form-control {
            /* Your button styles here */
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 5px;
        }

        body {
            background-color: #f8f9fa; /* Light gray background */
            margin: 20px;
            font-family: Arial, sans-serif;
        }

        h2 {
            color: #46331D; /* Dark brown heading */
            margin-bottom: 20px;
        }

        .form-horizontal {
            background-color: #d6c6b0; /* White background for form */
            padding: 20px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
            border: 1px solid #d6c6b0;
            border-radius: 30px; /* Adjust the border radius as needed */
        }

        .control-label {
            color: #46331D; /* Dark brown text for labels */
        }

        .text-danger {
            color: #dc3545; /* Red color for error messages */
        }

        .btn, .btn-default, .btn-danger {
            color: #fff;
            background-color: #5d4733; /* Standard button color */
            border: none;
            border-radius: 5px;
            padding: 8px 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            text-decoration: none;
            display: inline-block; /* Ensures buttons are properly aligned */
            width: 100px; /* Uniform width for all buttons */
        }

            .btn-default:hover {
                background-color: #0056b3; /* Darker blue on hover */
            }

        .btn-back {
            color: #5d4733; /* Blue color for back link */
            text-decoration: none;
            margin-top: 10px;
            display: inline-block;
        }

            .btn-back:hover {
                text-decoration: underline; /* Underline on hover */
            }
    </style>
</head>
<body>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h2>Create a new client</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label" for="first_name">First Name</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.first_name, new { htmlAttributes = new { @class = "form-control", required = "required", maxlength = "20", pattern = "[A-Za-z]+", placeholder = "e.g. John" } })
                    @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="last_name">Last Name</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.last_name, new { htmlAttributes = new { @class = "form-control", required = "required", maxlength = "20", pattern = "[A-Za-z]+", placeholder = "e.g. Doe" } })
                    @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="phone_no">Phone Number</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.phone_no, new { htmlAttributes = new { @class = "form-control", required = "required", maxlength = "8", placeholder = "e.g. 55 555 555", pattern = "[5-9][0-9]{7}", title = "The phone number must start with a number between 5 and 9 and must have 8 digits." } })
                    @Html.ValidationMessageFor(model => model.phone_no, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="address">Address</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control", required = "required", maxlength = "100", autocomplete = "address-line1", placeholder = "e.g. 22 New York Street", pattern = "[a-zA-Z0-9 .,-]+" } })
                    @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
            <div>
                @Html.ActionLink("Back to list", "Index", null, new { @class = "btn-back" })
            </div>
        </div>
    }

</body>
</html>
