@model IEnumerable<hotelManagementSystem20.models.room>

@{
    ViewBag.Title = "Liste des chambres";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Liste des chambres</h2>

<p>
    @Html.ActionLink("Ajouter une nouvelle chambre", "Create")
</p>

<table class="table">
    <tr>
        <th>Numéro</th>
        <th>Type</th>
        <th>Téléphone</th>
        <th>Disponibilité</th>
        <th>Prix</th>
        <th></th>
    </tr>
    @foreach (var room in Model)
    {
        <tr>
            <td>@room.room_no</td>
            <td>@room.room_type</td>
            <td>@room.room_phone</td>
            <td>@room.availability</td>
            <td>@room.price</td>
            <td>
                @Html.ActionLink("Détails", "Details", new { id = room.room_id }) |
                @Html.ActionLink("Modifier", "Edit", new { id = room.room_id }) |
                @Html.ActionLink("Supprimer", "Delete", new { id = room.room_id })
            </td>
        </tr>
    }
</table>
